@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script type="text/JavaScript">
        var ruta = '@Model.path';

        function buscar(){
            var busqueda = document.getElementById("txt_busqueda").value.trim();

            var primero = busqueda.charAt(0);
            var ultimo = busqueda.slice(-1);

            if (/\s/.test(busqueda)) {
                if (busqueda.includes('"') && primero == '"' && ultimo == '"') {

                } else {
                    alert("Searching for terms is allowed only using quotation Marks");
                    return;
                }
            }
            busqueda = busqueda.split(' ').join('_');
            window.location.href = ruta + '/Resultado?busqueda=' + busqueda;
        }
    </script>
}

<div class="text-center">
    <h1 class="display-7">Tranzact Programming Challenge</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">MVC with ASP.NET Core</a>.</p>
</div>
<br />
<br />
    <div class="form-action no-color" style="text-align:center">
        <p>
            filtro : <input type="text" id="txt_busqueda" name="searchString" placeholder="Ingrese la busqueda" autocomplete="off" />
                     <button type="button" id="btnBUscar" class="btn btn-primary" onclick="buscar()">Buscar</button>
        </p>
    </div>


